*{
    margin:5px;
    padding:10px;
}

body{
    background-color: aquamarine;
}
header,footer{
    min-height: 50px;
    background-color: rgb(45, 165, 202);
    color:black;
}

header{
    margin-bottom:0px;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
footer{
    margin-top:0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav{
    min-height: 50px;
    background-color:#a7eaf1204204204; 
    color:#ffffff;
    margin-bottom:0px;
    margin-top:0px;
}

main{
    min-height:250px;
    background-color: rgb(247, 242, 242);
    margin-bottom:0px;
    margin-top:0px;
}

nav a{
    display:inline-block;
    text-decoration:none;
    background-color: #93abea;
    border-radius:4px;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,table th {
    border: 1px solid #ddd;
    padding: 8px;
}


table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff0000;
    color: white;
}

#employee label{
	float:left;
	width:100px;
	
}

#employee button{
	margin:auto;
	width:100px;
}