<div class="container mt-5">
  <h2 class="mb-5 ml-5">
    <fa name="users"></fa> Employees List
  </h2>

  <div class="alert alert-warning" *ngIf="!employees || employees.length==0">
    <fa name="exclamation-triangle"></fa> Records could not be found or loaded
  </div>

  <div class="row" *ngIf="employees && employees.length>0">
    <div class="col-lg-2 ml-1 mb-1" *ngFor="let c of employees">
      <div class="card" (mouseover)="cf.hidden=false" (mouseleave)="cf.hidden=true">

        <img class="card-img-top" [src]="c.dept=='Network'?netLogo:
           c.dept=='HR'?hrLogo:
          c.dept=='Testing'?testLogo:
            dbLogo" />
        <div class="card-body">
          <h6 class="card-title">{{c.empName|adjustNameLen:10}}</h6>
          <p class="card-text">
            {{c.dateOfJoining}}
            <br /> {{c.dept}}
          </p>
        </div>
        <div class="card-footer" hidden="true" #cf>
          <div class="btn-group">
            <a routerLink="/editEmployee/{{c.empId}}" class="btn">
              <fa name="edit"></fa>
            </a>
            <a routerLink="/delEmployee/{{c.empId}}" class="btn">
              <fa name="trash"></fa>
            </a>
            <a routerLink="/viewEmployee/{{c.empId}}" class="btn ">
              <fa name="address-card"></fa>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>